a {
    text-decoration: none !important;
}






/*! Navbar */




.navbar {
    background: #1C1E53;
    padding: 16px 0 !important;
}

.nav-btn {
    background: transparent;
    padding: 16px 48px;
    border: 1px solid rgba(244, 246, 252, 0.2);
    color: #F4F6FC;
    border-radius: 41px;
    font-size: 16px;
    font-weight: 500;
    margin: 0 0 0 48px;
    font-family: "Poppins", sans-serif;
    transition: .4s;
}

.nav-btn:hover {
    background-color: #FCD980;
    color: #000;
}

.navbar-nav {
    column-gap: 32px;
}

.nav-link {
    font-size: 16px !important;
    color: #BBBBCB !important;
    font-weight: 500 !important;
    padding: 0 !important;
    transition: .4s !important;
    font-family: "Poppins", sans-serif !important;
}

.nav-link:hover {
    color: #FFFFFF !important;
}









/* !heroare */





.heroArea {
    background: #1C1E53;
    padding: 126px 0;
}

.heroArea .row {
    align-items: center;
}

.heroArea h1 {
    font-size: 54px;
    font-weight: 600;
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    line-height: 74px;
}

.heroArea p {
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    line-height: 28px;
    width: 562px;
    margin: 24px 0 0 0;
}

.heroArea button {
    background: #FCD980;
    padding: 16px 56px;
    color: #1B1C2B;
    margin: 64px 0 0 0;
    border-radius: 41px;
    font-size: 18px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    transition: .4s;
    border: 1px solid #FCD980 !important;
}

.heroArea button:hover {
    background: transparent;
    color: #F4F6FC;
    border: 1px solid rgba(244, 246, 252, 0.2) !important;
}







/* !workarea */






.work {
    background: #F4F6FC;
    padding: 128px 0;
}

.work .title {
    margin: 40px 0 0 0;
}

.work .title h2 {
    font-size: 48px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: 282938;
}

.work .title p {
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    color: #282938;
    width: 405px;
    margin: 16px 0 16px 0;
}

.work .title a {
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    color: #2405F2;
}

.work .work_box {
    display: flex;
    flex-wrap: wrap;
}

.work .work_card {
    width: 44%;
    margin: 15px;
    border: 1px solid transparent;
    padding: 20px;
    transition: 0.4s;
    cursor: pointer;
    border-radius: 10px;
}

.work .work_card:hover {
    border-color: rgba(28, 30, 83, 0.5);
}

.work .work_card h4 {
    font-size: 32px;
    font-weight: 500;
    color: #282938;
    margin: 16px 0 8px 0;
}

.work .work_card p {
    font-size: 16px;
    font-weight: 400;
    color: #282938;
}







/* !project */







.project {
    padding: 128px 0;

}

.project .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 64px 0;
}

.project .title h2 {
    font-size: 48px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #282938;
}



.project .title .ancor {
    display: flex;
    align-items: center;
    margin: 0 40px 0 0 ;
    position: relative;
}

.project .title .ancor a {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: #282938;
    margin: 0 15px 0 0 ;
}

.project .title .ancor i {
    position: absolute;
    top: 50%;
    left: 90px;
    transform: translateY(-50%);
    transition: 0.4s;
}

.project .title .ancor:hover i {
    left: 110px;
}


.project .col-lg-8 .img {
    position: relative;
    width: 840px;
    height: 600px;
    overflow: hidden;
}

.project .col-lg-8 .img img {
    width: 100%;
    height: 100%;
}

.project .col-lg-8 .overly {
    padding: 312px 35px 20px 48px;
    width: 50%;
    height: 100%;
    background-color: rgba(28, 30, 84, 0.62);
    position: absolute;
    top: 0;
    left: -50%;
    transition: .5s;
}

.project .col-lg-8 .img:hover .overly {
    left: .0;
}

.project .col-lg-8 .overly h3 {
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #FFFFFF;
    margin: 0 0 16px 0;
}

.project .col-lg-8 .overly p {
    font-size: 16px;
    width: 293px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: #FFFFFF;
    margin: 0 0 40px 0;
}

.project .col-lg-8 .overly a {
    font-size: 17px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: #FCD980;
}



.project .col-lg-8 .overly .ancor {
    display: flex;
    align-items: center;
    position: relative;
}

.project .col-lg-8 .overly .ancor a {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: #FCD980;
}

.project .col-lg-8 .overly i {
    color: #FCD980;
    position: absolute;
    top: 50%;
    left: 105px;
    transform: translateY(-50%);
    transition: 0.4s;
}

.project .col-lg-8 .overly .ancor:hover i {
    left: 125px;
}



.project .col-lg-4 .imgOne {
    width: 415px;
    height: 284px;
    margin: 0 0 32px 0;
    position: relative;
    overflow: hidden;
}

.project .col-lg-4 .imgOne img {
    display: block;
    width: 100%;
    height: 100%;
}

.project .col-lg-4 .overly {
    top: -100%;
    left: -100%;
    position: absolute;
    background-color: rgba(28, 30, 84, 0.62);
    width: 100%;
    height: 100%;
    padding: 129px 46px 20px 46px;
    transition: 0.5s;
}

.project .col-lg-4 .imgOne:hover .overly {
    top: 0;
    left: 0;
}

.project .col-lg-4 .overly h3 {
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #FFFFFF;
    margin: 0 0 16px 0;
}

.project .col-lg-4 .overly .ancor {
    display: flex;
    align-items: center;
    position: relative;
}

.project .col-lg-4 .overly .ancor a {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: #FCD980;
}

.project .col-lg-4 .overly i {
    color: #FCD980;
    position: absolute;
    top: 50%;
    left: 105px;
    transform: translateY(-50%);
    transition: 0.4s;
}

.project .col-lg-4 .overly .ancor:hover i {
    left: 125px;
}




/*  */

.project .col-lg-4 .imgTwo {
    width: 415px;
    height: 284px;
}

.project .col-lg-4 .imgTwo img {
    display: block;
    width: 100%;
    height: 100%;
}