* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


ul,
ol {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none !important;
}






/*! Navbar */




.navbar {
    background: #1C1E53;
    padding: 16px 0 !important;
}

.nav-btn {
    background: transparent;
    padding: 16px 48px;
    border: 1px solid rgba(244, 246, 252, 0.2);
    color: #F4F6FC;
    border-radius: 41px;
    font-size: 16px;
    font-weight: 500;
    margin: 0 0 0 48px;
    font-family: "Poppins", sans-serif;
    transition: .4s;
}

.nav-btn:hover {
    background-color: #FCD980;
    color: #000;
}

.navbar-nav {
    column-gap: 32px;
}

.nav-link {
    font-size: 16px !important;
    color: #BBBBCB !important;
    font-weight: 500 !important;
    padding: 0 !important;
    transition: .4s !important;
    font-family: "Poppins", sans-serif !important;
}

.nav-link:hover {
    color: #FFFFFF !important;
}









/*!        heroarea          */





.heroArea {
    background: #1C1E53;
    padding: 126px 0;
}

.heroArea .row {
    align-items: center;
}

.heroArea h1 {
    font-size: 54px;
    font-weight: 600;
    color: #FFFFFF;
    line-height: 74px;
}

.heroArea p {
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    line-height: 28px;
    width: 562px;
    margin: 24px 0 0 0;
}

.heroArea button {
    background: #FCD980;
    padding: 16px 56px;
    color: #1B1C2B;
    margin: 64px 0 0 0;
    border-radius: 41px;
    font-size: 18px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    transition: .4s;
    border: 1px solid #FCD980 !important;
}

.heroArea button:hover {
    background: transparent;
    color: #F4F6FC;
    border: 1px solid rgba(244, 246, 252, 0.2) !important;
}







/* !workarea */






.work {
    background: #F4F6FC;
    padding: 128px 0;
}

.work .title {
    margin: 40px 0 0 0;
}

.work .title h2 {
    font-size: 48px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: 282938;
}

.work .title p {
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    color: #282938;
    width: 405px;
    margin: 16px 0 16px 0;
}

.work .title a {
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    color: #2405F2;
}

.work .work_box {
    display: flex;
    flex-wrap: wrap;
}

.work .work_card {
    width: 44%;
    margin: 15px;
    border: 1px solid transparent;
    padding: 20px;
    transition: 0.4s;
    cursor: pointer;
    border-radius: 10px;
}

.work .work_card:hover {
    border-color: rgba(28, 30, 83, 0.5);
}

.work .work_card h4 {
    font-size: 32px;
    font-weight: 500;
    color: #282938;
    margin: 16px 0 8px 0;
}

.work .work_card p {
    font-size: 16px;
    font-weight: 400;
    color: #282938;
}







/* !project */







.project {
    padding: 128px 0;

}

.project .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 64px 0;
}

.project .title h2 {
    font-size: 48px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #282938;
}

.project .title .ancor {
    display: flex;
    align-items: center;
    margin: 0 40px 0 0;
    position: relative;
}

.project .title .ancor a {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: #282938;
    margin: 0 15px 0 0;
}

.project .title .ancor i {
    position: absolute;
    top: 50%;
    left: 90px;
    transform: translateY(-50%);
    transition: 0.4s;
}

.project .title .ancor:hover i {
    left: 110px;
}


.project .col-lg-8 .img {
    position: relative;
    width: 840px;
    height: 600px;
    overflow: hidden;
}

.project .col-lg-8 .img img {
    width: 100%;
    height: 100%;
}

.project .col-lg-8 .overly {
    padding: 312px 35px 20px 48px;
    width: 50%;
    height: 100%;
    background-image: linear-gradient(300deg, #1c1e54, rgba(28, 30, 84, .42));
    position: absolute;
    top: 0;
    left: -50%;
    transition: .5s;
}

.project .col-lg-8 .img:hover .overly {
    left: .0;
}

.project .col-lg-8 .overly h3 {
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #FFFFFF;
    margin: 0 0 16px 0;
}

.project .col-lg-8 .overly p {
    font-size: 16px;
    width: 293px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: #FFFFFF;
    margin: 0 0 40px 0;
}

.project .col-lg-8 .overly a {
    font-size: 17px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: #FCD980;
}

.project .col-lg-8 .overly .ancor {
    display: flex;
    align-items: center;
    position: relative;
}

.project .col-lg-8 .overly .ancor a {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: #FCD980;
}

.project .col-lg-8 .overly i {
    color: #FCD980;
    position: absolute;
    top: 50%;
    left: 105px;
    transform: translateY(-50%);
    transition: 0.4s;
}

.project .col-lg-8 .overly .ancor:hover i {
    left: 125px;
}

.project .col-lg-4 .imgOne {
    width: 415px;
    height: 284px;
    margin: 0 0 32px 0;
    position: relative;
    overflow: hidden;
}

.project .col-lg-4 .imgOne img {
    display: block;
    width: 100%;
    height: 100%;
}

.project .col-lg-4 .imgOne .overly {
    top: -100%;
    left: -100%;
    position: absolute;
    background-image: linear-gradient(300deg, #1c1e54, rgba(28, 30, 84, .42));
    width: 100%;
    height: 100%;
    padding: 129px 46px 20px 46px;
    transition: 0.5s;
}

.project .col-lg-4 .imgOne:hover .overly {
    top: 0;
    left: 0;
}

.project .col-lg-4 .imgOne .overly h3 {
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #FFFFFF;
    margin: 0 0 16px 0;
}

.project .col-lg-4 .imgOne .overly .ancor {
    display: flex;
    align-items: center;
    position: relative;
}

.project .col-lg-4 .imgOne .overly .ancor a {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: #FCD980;
}

.project .col-lg-4 .imgOne .overly i {
    color: #FCD980;
    position: absolute;
    top: 50%;
    left: 105px;
    transform: translateY(-50%);
    transition: 0.4s;
}

.project .col-lg-4 .imgOne .overly .ancor:hover i {
    left: 125px;
}

.project .col-lg-4 .imgTwo {
    width: 415px;
    height: 284px;
    position: relative;
    overflow: hidden;
}

.project .col-lg-4 .imgTwo::after {
    position: absolute;
    bottom: -100%;
    right: -100%;
    width: 100%;
    height: 100%;
    content: "";
    background-image: linear-gradient(300deg, #1c1e54, rgba(28, 30, 84, .42));
    transition: .4s;
}

.project .col-lg-4 .imgTwo:hover::after {
    bottom: 0;
    right: 0;
}

.project .col-lg-4 .imgTwo img {
    display: block;
    width: 100%;
    height: 100%;
}

.project .col-lg-4 .imgTwo .overly {
    top: -100%;
    left: -100%;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 129px 46px 20px 46px;
    transition: 0.5s;
    z-index: 99;
}

.project .col-lg-4 .imgTwo:hover .overly {
    top: 0;
    left: 0;
}

.project .col-lg-4 .imgTwo .overly h3 {
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #FFFFFF;
    margin: 0 0 16px 0;
}

.project .col-lg-4 .imgTwo .overly .ancor {
    display: flex;
    align-items: center;
    position: relative;
}

.project .col-lg-4 .imgTwo .overly .ancor a {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: #FCD980;
}

.project .col-lg-4 .imgTwo .overly i {
    color: #FCD980;
    position: absolute;
    top: 50%;
    left: 105px;
    transform: translateY(-50%);
    transition: 0.4s;
}

.project .col-lg-4 .imgTwo .overly .ancor:hover i {
    left: 125px;
}










/* !features */



.features {
    background: #F4F6FC;
    padding: 148px 0 128px 0;
}

.features .title {
    margin: 0 0 47px 0;
}

.features .title p {
    text-align: center;
    font-size: 16px;
    color: #282938;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.features .title h2 {
    font-size: 48px;
    color: #282938;
    width: 630px;
    text-align: center;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    margin: 0 auto;
}

.features .row {
    row-gap: 24px;
}

.features .row .col-lg-4 .card {
    background: #FFFFFF;
    padding: 70px 32px 48px 48px;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: 0.4s;
    cursor: pointer;
}

.features .row .col-lg-4 .card:hover {
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.features .row .col-lg-4 .card i {
    color: #2405F2;
    font-size: 30px;
}

.features .row .col-lg-4 .card h4 {
    font-size: 24px;
    font-weight: 500;
    margin: 24px 0 12px 0;
    font-family: "Poppins", sans-serif
}

.features .row .col-lg-4 .card p {
    font-size: 16px;
    font-weight: 300;
    font-family: "Poppins", sans-serif;
    width: 325px;
    line-height: 30px;
}







/*!  about   */




.about {
    padding: 130px 0;
    background-color: #F9FBFD;
}

.about .col-lg-4 h4 {
    font-size: 38px;
    font-weight: 600;
    width: 327px;
    line-height: 56px;
    color: #282938;
    font-family: "Poppins", sans-serif;
    margin: 0 0 16px 0;
}

.about .col-lg-4 p {
    font-size: 16px;
    font-weight: 400;
    color: #282938;
    font-family: "Poppins", sans-serif;
    width: 327px;
}

.about .col-lg-8 h3 {
    font-size: 32px;
    font-weight: 500;
    color: #282938;
    font-family: "Poppins", sans-serif;
    margin: 0 0 16px 0;
    line-height: 48px;
}

.about .col-lg-8 .profile {
    display: flex;
    column-gap: 15px;
    margin: 48px 0 0 0;
}

.about .col-lg-8 .profile .img {
    width: 52px;
    height: 52px;
    border-radius: 50%;
}

.about .col-lg-8 .profile .img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.about .col-lg-8 .profile .details {
    cursor: pointer;
}

.about .col-lg-8 .profile .details h6 {
    font-size: 18px;
    color: #282938;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.about .col-lg-8 .profile .details p {
    font-size: 12px;
    color: #282938;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}








/*!        FAQ         */

.faq {
    background: #FFFFFF;
    margin: 130px 0;
}

.faq .col-lg-4 h3 {
    font-size: 38px;
    color: #282938;
    width: 328px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    line-height: 58px;
    margin: 0 0 16px 0;
}

.faq .col-lg-4 p {
    font-size: 18px;
    color: #2405F2;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.faq .col-lg-8 {}


.faq .col-lg-8 .accordion-item {
    margin: 0 0 55px 0;
    border: 1px solid transparent !important;
}

.faq .col-lg-8 .accordion-item .accordion-button {
    font-size: 24px;
    color: #282938;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.faq .col-lg-8 .accordion-item .accordion-button span {
    font-size: 24px;
    color: #2405F2;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin: 0 55px 0 0;
}

.faq .col-lg-8 .accordion-item .collapse {
    
}

.faq .col-lg-8 .accordion-item p {
    font-size: 18px;
    color: #282938;
    padding: 0 78px;
    width: 724px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 32px;
}











/*!    contact     */








.contact_Card {
    background-color: #ffffff;
    padding: 128px 0 78px 0;
}

.contact_Card .row .col-lg-6 .img {
    width: 656px;
    height: 691px;
    position: relative;
    overflow: hidden;
}

.contact_Card .row .col-lg-6 .img::after {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    content: "";
    background-color: rgba(28, 30, 83, .50);
    transition: 0.4s;
}

.contact_Card .row .col-lg-6 .img:hover::after {
    top: 0;
    left: 0;
}


.contact_Card .row .col-lg-6 .img img {
    width: 100%;
    height: 100%;
}

.contact_Card .row .col-lg-6 .overly {
    position: absolute;
    top: -100%;
    left: 0%;
    width: 100%;
    height: 100%;
    padding: 96px 96px 260px 96px;
    transition: 0.4s;
    z-index: 1;
}


.contact_Card .row .col-lg-6 .img:hover .overly {
    left: 0;
    top: 0;
}

.contact_Card .row .col-lg-6 .overly h3 {
    font-size: 54px;
    font-weight: 500px;
    line-height: 74px;
    font-family: "Poppins", sans-serif;
    color: #FFFFFF;
}

.contact_Card .row .col-lg-6 .overly p {
    font-size: 16px;
    font-weight: 400px;
    line-height: 28px;
    font-family: "Poppins", sans-serif;
    color: #FFFFFF;
    margin: 24px 0 0 0;
}

.contact_Card .row .right {
    padding: 107px 96px 38px;
    background-color: #1C1E53;
}

.contact_Card .row .right h4 {
    font-size: 32px;
    font-weight: 500;
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
}

.contact_Card .row .right p {
    font-size: 16px;
    color: #FFFFFF;
    margin: 0 0 17px 0;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    margin: 17px 0 40px 0;
}

.contact_Card .row .right .form-control {
    color: #FFFFFF;
    background-color: transparent;
    padding: 18px 0 18px 32px;
    border: 1px solid rgba(244, 246, 252, 0.2) !important;
}

.contact_Card .row .right .btn {
    margin: 34px 0 34px 0;
    color: #ffffff;
    width: 100%;
    background-color: transparent;
    border-radius: 40px;
    padding: 16px 150px;
    border: 1px solid rgba(244, 246, 252, 0.2);
    font-size: 17px;
    font-family: "Poppins", sans-serif;
    transition: 0.4s;
}

.contact_Card .row .right .btn:hover {
    color: #1B1C2B;
    background-color: #FCD980;
}

.contact_Card .row .right .ancor {
    position: relative;
    text-align: center;
}

.contact_Card .row .right .ancor a {
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #FFFFFF;
}

.contact_Card .row .right .ancor i {
    position: absolute;
    font-size: 18px;
    color: #FFFFFF;
    left: 340px;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.4s;
}

.contact_Card .row .right .ancor:hover i {
    left: 360px;
}





/*!       blog        */





.blog {
    padding: 77px 0 180px 0;
}

.blog .title {
    margin: 0 0 64px 0;
}

.blog .title h2 {
    font-size: 48px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: #282938;
}

.blog .row {

    justify-content: space-between !important;
}

.blog .card {
    border-radius: 0;
    border: 1px solid transparent;
    transition: 0.4s;
    cursor: pointer;
    border-radius: 0 0 8px 8px;

}

.blog .card:hover {
    border: 1px solid rgba(50, 38, 38, 0.2);

}

.blog .card img {
    border-radius: 0;
}

.blog .card .card-body {
    padding: 0;
}

.blog .card .card-body .card-subtitle {
    font-size: 16px;
    font-weight: 300;
    margin: 40px 0 16px 0;
    color: #282938;
    font-family: "Poppins", sans-serif;
}

.blog .card .card-body .card-title {
    font-size: 24px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    color: #282938;
    margin: 0 0 16px 0;
}

.blog .card .card-body .card-text {
    font-size: 16px;
    font-weight: 300;
    font-family: "Poppins", sans-serif;
    color: #282938;
    margin: 0 0 32px 0;
}

.blog .card .card-body .ancor {
    position: relative;
}

.blog .card .card-body .ancor a {
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    padding: 0;
    color: #282938;
}

.blog .card .card-body .ancor i {
    position: absolute;
    font-size: 18px;
    color: #282938;
    left: 110px;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.4s;
}

.blog .card .card-body .ancor:hover i {
    left: 130px;
}





/*!       footer       */





.footer {
    background: #1C1E53;
    color: #ffffff;
}

.footer .row {
    padding: 95px 0;
}

.footer .row .col-lg-5 .upper p {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    font-weight: 300;
    width: 400px;
    line-height: 28px;
    margin: 25px 0 86px 0;
}

.footer .row .col-lg-5 .upper_lower {
    display: flex;
    background-color: #FCD980;
    color: #1B1C2B;
    padding: 17px 70px 12px 37px;
}

.footer .row .col-lg-5 .upper_lower .left {
    margin: 0 50px 0 10px;
}

.footer .row .col-lg-5 .upper_lower .box h6 {
    font-size: 18px;
    font-weight: 500px;
    padding: 10px 0 5px 0;
    font-family: "Poppins", sans-serif;
    color: #1B1C2B;
}

.footer .row .col-lg-5 .upper_lower .box a {
    font-size: 18px;
    font-weight: 200px;
    font-family: "Poppins", sans-serif;
    color: #33365b;
    transition: 0.4s;
    cursor: pointer;
}

.footer .row .col-lg-5 .upper_lower .box a:hover {
    color: #1B1C2B;
}

.footer .row .col-lg-7 .lower {
    margin: 0 0 0 142px;

}

.footer .row .col-lg-7 .lower h4 {
    font-size: 48px;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.footer .row .col-lg-7 .lower p {
    font-size: 16px;
    color: #ffffff;
    width: 400px;
    line-height: 28px;
    margin: 14px 0 28px 0;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

.footer .row .col-lg-7 .lower ul {
    list-style: none;
    display: flex;
    padding: 0;
    column-gap: 20px;
}

.footer .row .col-lg-7 .lower li {
    list-style: none;
    display: flex;
    padding: 0;
}

.footer .row .col-lg-7 .lower li i {
    color: #d8cdcd;
    font-size: 22px;
    transition: 0.4s;
}

.footer .row .col-lg-7 .lower li i:hover {
    color: #FFFFFF;
    font-size: 22px;
}








/*!        low-footer          */









.low-footer {
    background-color: #FFFFFF;
    padding: 40px 0 20px 0;
}

.low-footer .box {
    display: flex;
    justify-content: space-between;
}

.low-footer .box .left p {
    font-size: 18px;
    font-weight: 500;
    color: #1B1C2B;
    font-family: "Poppins", sans-serif;
}

.low-footer .box .left p a {
    font-size: 18px;
    font-weight: 500;
    color: #1B1C2B;
    transition: 0.4s;
    font-family: "Poppins", sans-serif;
}

.low-footer .box .left p a:hover {
    text-decoration: underline;
}

.low-footer .box .right ul {
    display: flex;
    column-gap: 25px;
}

.low-footer .box .right ul a {
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: #333655;
    transition: 0.4s;
}

.low-footer .box .right ul a:hover {
    color: #1B1C2B;
}